.filename {
  display: inline-block;
  resize: none;
  width: 70%;
}

.extension {
  display: inline-block;
  resize: none;
  width: calc(30% - 37px);
}

.editor {
  resize: vertical;
  width: -webkit-fill-available;
}

.page-title {
  margin-top: 0px;
}

.topbar {
  width: -webkit-fill-available;
}