#filename {
  display: inline-block;
  resize: none;
  width: -webkit-fill-available;
}

#editor {
  resize: vertical;
  width: -webkit-fill-available;
}

.page-title {
  margin-top: 0px;
}

.topbar {
  width: -webkit-fill-available;
  padding: 5px 7px;
}

.titlebar-button {
  margin: 5px;
  background-color: #c1c1c1;
}